.container {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  img {
    margin-top: 3rem;
    border-radius: 1rem;
    width: 15rem;
    height: 26rem;
  }

  p{
      margin: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
  }
}
